





/*p span*/ .gyrotonic-logo {
	font-family: "Times New Roman";
	text-transform: uppercase;
	font-weight: bold;
}
/*p span*/ .gyrotonic-logo-registered-trademark-symbol {
	font-weight: normal;
}




/*Media Query Template*/
/*@media only screen and
		(min-width: Npx),
		(max-width: Npx),
		(aspect-ratio: W/H),
		(orientation: [portrait/landscape]),
		(resolution: Ndpi),
		(any-hover: [none/hover]),
		(scripting: [none/initial-only/enabled])
*/

/*Screen Reader Styles*/
/*@media only speech {

}*/