/*
AUTHORS LOG:
Transitioning old.css code to global.css while rebuilding the site mobile-first.
*/

:root {
	--color-navy: hsl(202, 100%, 26%);
	--color-dark: hsl(210, 3%, 12%);
	--color-light: hsl(0, 0%, 100%);
	--color-background: var(--color-dark);

	--font-times: "TimesNewRomanPSMT", "Times New Roman", "Times-Roman", "Times Roman", serif;

	--spacer-large: calc(8px + 10vmin);
	--spacer: calc(8px + 5vmin);
	--spacer-small: calc(8px + 2.5vmin);

	--pane-masthead-height: 90vh;



	font-family: "Roboto", "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
	color: var(--color-dark);
	background-color: var(--color-background);
}
a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}



.pane {
	width: 100vw;
	display: flex;
}



.button {
	display: inline-block;
	min-height: 48px;
	min-width: 48px;
	padding: 16px 24px;
	border-radius: 8px;
	cursor: pointer;

	font-family: var(--font-roboto);
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 500;
  letter-spacing: 1px;
}
.button-light {
	color: var(--color-dark);
	background-color: var(--color-light);
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
							0 1px 3px hsla(0, 0%, 0%, 0.1);
}
.button-dark {
	color: var(--color-light);
	background-color: var(--color-navy);
	box-shadow: 0 1px 2px hsla(202, 100%, 53%, 0.2),
							0 1px 3px hsla(0, 0%, 0%, 0.1);
}



#background-video-wrapper {
	position: absolute;
	z-index: -1;
	height: var(--pane-masthead-height);
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color-background);
	overflow: hidden;
}
#background-video {
	object-fit: cover;
	object-position: top center;
	width: 100%;
	height: 100%;
}



#pane-masthead {
	height: var(--pane-masthead-height);
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}
#masthead-content-wrapper {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
	padding: 0 var(--spacer);
}
#masthead-content-button {
	margin-top: var(--spacer-small);
}

header {
  width: 100%;
  padding: var(--spacer);
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
	align-content: center;
}

#logo-image {
	width: 100%;
  max-width: 304px;
  max-height: 114px;
	vertical-align: middle;
}

nav {		
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;

	position: relative;
	min-height: 48px;
	/* top: -16px; TODO Account for tap-target bound margins*/
}
.nav-item-wrapper {
	margin-left: var(--spacer);
}
.nav-item-wrapper:first-of-type { margin-left:  var(--spacer-large); }
.nav-item-wrapper:last-of-type  { margin-right: 0; }
.nav-item { 
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

	min-height: 48px;
	min-width: 48px;
	white-space: nowrap;
	cursor: pointer;
}





@media only screen and (max-width: 854px) {
	header {
		flex-flow: column nowrap;
		align-items: center;
	}
	#wrapper-logo {
		margin-right: 0;
	}
	nav {
		margin-top: var(--spacer-small);
		justify-content: center;
	}
	.nav-item-wrapper:first-of-type {
		margin-left: 0;
	}
}