:root {
	--color-navy: hsl(202, 100%, 26%);
	--color-dark: hsl(210, 3%, 12%);
	--color-light: hsl(0, 0%, 100%);
	--color-background: var(--color-light);

	--font-times: "TimesNewRomanPSMT", "Times New Roman", "Times-Roman", "Times Roman", serif;

	--spacer-large: calc(8px + 10vw);
	--spacer: calc(8px + 5vw);
	--spacer-small: calc(8px + 2.5vw);

	--masthead-pane-height: 90vh;

	font-family: "Roboto", "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	color: var(--color-dark);
	background-color: var(--color-background);
	text-rendering: optimizeLegibility;
}
main {
	margin: var(--spacer-small);
	min-width: 236px;
}


.typo-nav {
	font-size: 14px;
	text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
	letter-spacing: 0.5px;
	text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
							 0 1px 3px hsla(0, 0%, 0%, 0.1);
}
.typo-heading-overline {
	font-size: 14px;
	text-transform: uppercase;
  font-weight: 500;
  line-height: 1.14286;
	letter-spacing: 0.5px;
	
	margin: 0;
	margin-bottom: 0.57143em; /* The equivalent of 8px at font-size 14px */
}
.typo-heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.16666;
	
	margin: 0;
	margin-bottom: 0.66666em; /* The equivalent of 16px at font-size 24px */
}
.typo-button-label {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 0.05357em; /* The equivalent of 0.75px at font-size 14px */
	white-space: nowrap;
	opacity: 0.9;
}
.typo-standard {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.5px;
}
.typo-small {
	font-size: 14px;
	line-height: 1.42857;
	font-weight: 300;
	letter-spacing: 0.25px;
}
.typo-testimonial {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.5px;
	font-style: italic;
}
.typo-testimonial::before { content: "\""; }
.typo-testimonial::after { content: "\""; }
.typo-testimonial-attribution {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 20px;
	color: var(--color-navy);

	margin-top: var(--spacer-small);
}
.typo-testimonial-attribution::before {
	content: "—";
}
.typo-gyrotonic-logo {
	font-family: var(--font-times);
	font-weight: bold;
	text-transform: uppercase;
}
.typo-color-light {
	color: var(--color-light);
}
.typo-color-dark { 
	color: var(--color-dark);
}



a,
a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
}



.button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	min-height: 48px;
	min-width: 48px;
	padding: 16px 24px;
	border-radius: 6px;
	cursor: pointer;
}
.button-light {
	color: var(--color-dark);
	background-color: var(--color-light);
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
							0 1px 3px hsla(0, 0%, 0%, 0.1);
}
.button-dark {
	color: var(--color-light);
	background-color: var(--color-navy);
	box-shadow: 0 1px 2px hsla(202, 100%, 53%, 0.2),
							0 1px 3px hsla(0, 0%, 0%, 0.1);
}



/*  Background Video */
#background-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: -1;
	height: var(--masthead-pane-height);
	background-color: var(--color-background);
	overflow: hidden;
}
#background-video {
	object-fit: cover;
	object-position: top center;
	width: 100%;
	height: 100%;
}



/* Header, Logo, & Navigation */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
	align-content: center;

	width: 100%;
	z-index: 1;
}
#wrapper-logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#logo-image {
	min-width: 165px;
	width: 100%;
	max-width: 276px;
	height: auto;
	max-height: 100px;
}
nav {		
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;

	min-height: 48px;
}
.nav-item-wrapper {
	margin-left: var(--spacer-small);
}
.nav-item-wrapper:first-of-type { margin-left:  var(--spacer); }
.nav-item-wrapper:last-of-type  { margin-right: 0; }
.nav-item { 
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

	min-height: 48px;
	min-width: 48px;
	white-space: nowrap;
	cursor: pointer;
}



.pane {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}


.card {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20),
							0 1px 3px 0 rgba(0,0,0,0.10);
	border-radius: 6px;
}



input,
textarea {
	border: none;
	border-radius: 6px;
	min-width: 48px;
	width: 100%;
	min-height: 48px;
	padding: 1em;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.20),
							inset 0 1px 3px 0 rgba(0,0,0,0.10);
	margin-top: 4px;
	margin-bottom: 1rem;

	letter-spacing: 0.5px;
	font-weight: 300;
}
input::placeholder,
textarea::placeholder {
	color: inherit;
	opacity: 0.6;
}


#content {
	max-width: 70ch;
}



#pane-masthead {
	height: calc( var(--masthead-pane-height) - var(--spacer-small) );
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}
#masthead-content-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
	flex-grow: 1;
}



#pane-welcome {
	margin: var(--spacer-large) 0;
}



#pane-contact {
	margin: var(--spacer-large) 0;
}
#contact-text-wrapper {
	margin-bottom: var(--spacer-small);
}
#form-contact-message {
	resize: none;
}



#pane-location {
	margin: var(--spacer-large) 0;
}
#map {
	width: 100%;

	min-height: 50vh;
	height: 100%;
	max-height: 75vh;

	margin-bottom: var(--spacer-small);
}



#pane-testimonials {
	margin: var(--spacer-large) 0;
}
#testimonials-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
}
#testimonials-chevron {
	margin-left: var(--spacer-small);
}
#testimonials-card {
	flex-grow: 1;
	padding: var(--spacer-small);
}



/* Header adaptations for small-width screens */
@media only screen and (max-width: 613px) {
	header {
		flex-flow: column nowrap;
		align-items: center;
	}
	#wrapper-logo {
		width: 70%;
		margin-right: 0;
	}
	nav {
		justify-content: center;
	}
	.nav-item-wrapper:first-of-type {
		margin-left: 0;
	}
}