:root {
	--color-navy: #005384;
	--color-dark: #1d1e1f;
	--color-light: #ffffff;
	--color-background: var(--color-light);

	--font-times: "TimesNewRomanPSMT", "Times New Roman", "Times-Roman", "Times Roman", serif;

	--spacer-large: calc(8px + 10vw);
	--spacer: calc(8px + 5vw);
	--spacer-small: calc(8px + 2.5vw);

	--masthead-pane-height: 90vh;
	--masthead-font-size: 0.875rem;

	font-family: "Roboto", "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
	color: var(--color-dark);
	background-color: var(--color-background);
}
main {
	padding: var(--spacer-small);
}
a,
a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
}
.pane {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.card {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20),
							0 1px 3px 0 rgba(0,0,0,0.10);
	border-radius: 6px;
	overflow: hidden;
}
#site-body-wrapper {
	max-width: 1108px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
	#site-body-wrapper > .pane {
		margin: var(--spacer-large) auto;
	}
	#site-body-wrapper > .pane:first-of-type {
		margin-bottom: 0;
	}

/*#region => BUTTONS */
.button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	min-height: 48px;
	min-width: 48px;
	padding: 16px 24px;
	border-radius: 6px;
	cursor: pointer;
	border: 0;

	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
							0 1px 3px hsla(0, 0%, 0%, 0.1);
}
.button-light {
	color: var(--color-dark);
	background-color: var(--color-light);
}
.button-dark {
	color: var(--color-light);
	background-color: var(--color-navy);
}
/*#endregion => BUTTONS */

/*#region => TYPOGRAPHY */
.typo-nav {
	font-size: 0.875rem;
	text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
	letter-spacing: 0.03571em;
	text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
							 0 1px 3px hsla(0, 0%, 0%, 0.1);
}
.typo-heading-overline {
	font-size: 0.875rem;
	text-transform: uppercase;
  font-weight: 500;
  line-height: 1.14286;
	letter-spacing: 0.03571em;
	
	margin: 0;
	margin-bottom: 0.57143em; /* The equivalent of 8px at font-size 14px */
}
.typo-heading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.16666;
	
	margin: 0;
	margin-bottom: 0.66666em; /* The equivalent of 16px at font-size 24px */
	max-width: 62ch;
}
.typo-button-label {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 0.05357em; /* The equivalent of 0.75px at font-size 14px */
	white-space: nowrap;
	opacity: 0.9;
}
.typo-standard {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.03125em;
	max-width: 62ch;
}
.typo-small {
	font-size: 0.875rem;
	line-height: 1.42857;
	font-weight: 300;
	letter-spacing: 0.01786em;
	max-width: 53ch;
}
.typo-form-field {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.03125em;
}
.typo-testimonial {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.03125em;
	font-style: italic;
}
.typo-testimonial-attribution {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.03125em;
	line-height: 1.25;
	color: var(--color-navy);

	margin-top: 1em;
}
	.typo-testimonial-attribution::before {
		content: "—"; /* em dash */
	}
.typo-gyrotonic-logo {
	font-family: var(--font-times);
	font-weight: bold;
	text-transform: uppercase;
}
.typo-color-light {
	color: var(--color-light);
}
.typo-color-dark { 
	color: var(--color-dark);
}
/*#endregion => TYPOGRAPHY */

/*#region => BACKGROUND-VIDEO */
#background-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: -1;
	min-height: calc( 349px + var(--spacer-small)*2);
	height: var(--masthead-pane-height);
	background-color: var(--color-background);
	overflow: hidden;
}
#background-video {
	object-fit: cover;
	object-position: top center;
	width: 100%;
	height: 100%;
}
/* Hide the default HTML5 video play button in any instance in which the video does not autoplay */
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
/*#endregion => BACKGROUND-VIDEO */



/*#region => MASTHEAD */
#pane-masthead {
	min-height: 349px;
	height: calc( var(--masthead-pane-height) - var(--spacer-small) );
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
	align-content: center;

	width: 100%;
	z-index: 1;
}
#wrapper-logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#logo-image {
	max-width: 276px;
	max-height: 25vh;
}
nav {		
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;

	min-height: 48px;
}
.nav-item-wrapper {
	margin-left: var(--spacer-small);
}
.nav-item-wrapper:first-of-type { margin-left:  var(--spacer); }
.nav-item-wrapper:last-of-type  { margin-right: 0; }
.nav-item { 
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

	min-height: 48px;
	min-width: 48px;
	white-space: nowrap;
	cursor: pointer;
}
#masthead-content-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
	flex-grow: 1;
	margin-top: var(--spacer-small);
	margin-bottom: var(--spacer-small);
}
#masthead-overline {
	font-size: var(--masthead-font-size);
}
#masthead-headings {
	font-size: calc( var(--masthead-font-size)*1.71429);
}
/*#endregion => MASTHEAD */

/*#region => CONTACT */
#pane-contact {
	margin-bottom: var(--spacer-large);
	flex-flow: row wrap;
}
#contact-text-wrapper {
	max-width: 40ch;
	margin-right: var(--spacer)
}
#contact-text-brushstroke {
	margin-bottom: var(--spacer);
}
#form-contact {
	flex-grow: 1;
}
#form-contact > input,
#form-contact > textarea {
	border: none;
	border-radius: 6px;
	min-width: 48px;
	width: 100%;
	min-height: 48px;
	padding: 1em;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.20),
							inset 0 1px 3px 0 rgba(0,0,0,0.10);
	margin-top: 4px;
	margin-bottom: 1rem;

	letter-spacing: 0.5px;
	font-weight: 300;

	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#form-contact > input::placeholder,
#form-contact > textarea::placeholder {
	color: inherit;
	opacity: 0.5;
}
#form-contact-message {
	resize: none;
}
/*#endregion => CONTACT */

/*#region => LOCATION */
#map {
	width: 100%;
	min-height: 40vh;
	height: 100%;
	display: block;
	margin-bottom: var(--spacer-small);
}
/*#endregion => LOCATION */

/*#region => TESTIMONIALS */
#pane-testimonials {
	margin-left: auto;
	margin-right: auto;
	max-width: calc( 62ch + (var(--spacer-small)*2) );
}
#testimonials-carousel-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
#testimonials-card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: var(--spacer-small);
	width: 100%;
	min-height: 40vh;
}
#testimonials-chevron { /*TODO Increase chevron size in larger viewports */
	margin-left: var(--spacer-small);
}
.testimonial {
	display: inline-block;
	max-width: 62ch;
}
.testimonial:not(:first-of-type) {
	display: none;
	margin-top: var(--spacer);
}
/*#endregion => TESTIMONIALS */



/*#region => FOOTER */
footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	padding: var(--spacer-small);
	text-align: center;
	background-color: var(--color-dark);
}
footer > *:not(:last-child) {
	margin-bottom: 1em;
}
#footer-phone-number {
	font-style: normal;
	font-weight: 400;
}
#footer-brand-attributions {
	max-width: unset;
}
/*#endregion => FOOTER */

/*#region => MEDIA QUERIES */
/* Header adaptations ending at 613px */
@media only screen and (max-width: 613px) {
	header {
		flex-flow: column nowrap;
		align-items: center;
	}
	#wrapper-logo {
		width: 70%;
		margin-right: 0;
	}
	nav {
		justify-content: center;
	}
	.nav-item-wrapper:first-of-type {
		margin-left: 0;
	}
}

@media only screen and (min-width: 613px) {
	:root {
		--masthead-font-size: 1rem;
	}
}

/* Contact form adaptations ending at 828px */
@media only screen and (max-width: 828px) {
	#pane-contact {
		flex-flow: column nowrap;
	}
	#contact-text-wrapper {
		max-width: 40ch;
		margin-bottom: var(--spacer);
		margin-right: 0;
	}
	#contact-text-brushstroke {
		margin-bottom: var(--spacer-large);
		display: flex;
	}
	#form-contact {
		max-width: 62ch;
	}
}

/* Adaptations starting at 700px */
@media only screen and (min-width: 700px) {
	#pane-location {
		flex-flow: row nowrap;
	}
	#location-address {
		margin-right: var(--spacer);
		margin-left: var(--spacer);
		white-space: nowrap;
	}
}

/* Adaptations starting at 768px */
@media only screen and (min-width: 768px) {
	:root {
		--masthead-font-size: 1.1rem;
	}
}

/* Adaptations starting at 1280px */
@media only screen and (min-width: 1280px) {
	:root {
		font-size: 18px;
		--masthead-font-size: 1.2rem;
	}
	#testimonials-chevron {
		width: 36px;
	}
}

/* Adaptations starting at 1440px */
@media only screen and (min-width: 1440px) {
	:root {
		font-size: 20px;
		--spacer-large: calc(8px + 8vw);
		--spacer: calc(8px + 4vw);
		--spacer-small: calc(8px + 2vw);
		--masthead-font-size: 1.3rem;
	}
	#contact-text-wrapper {
		margin-bottom: var(--spacer);
	}
}

/* Adaptations starting at 1920px */
@media only screen and (min-width: 1920px) {
	:root {
		font-size: 22px;
		--spacer-large: calc(8px + 6vw);
		--spacer: calc(8px + 3vw);
		--spacer-small: calc(8px + 1.5vw);
		--masthead-font-size: 1.4rem;
	}
	#testimonials-chevron {
		width: 48px;
	}
}
/*#endregion => MEDIA QUERIES */