.typo-small {
	font-family: var(--font-roboto);
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
}
.typo-testimonial {
	font-family: var(--font-roboto);
	font-size: 48px;
	line-height: 56px;
	font-style: italic;
	opacity: 0.5;
}
.typo-testimonial-attribution {
	font-family: var(--font-roboto);
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 1px;

	color: var(--color-navy);
}





/*#region ==> Footer */
footer {
	background-color: var(--color-dark);
	text-align: center;
	padding: var(--spacer);
}
	#wrapper-footer-phone-number {
		margin-top: 0;
		margin-bottom: var(--spacer-small);
		font-size: 24px;
		font-style: normal;
	}
	#footer-copyright {
		font-size: 24px;
		margin-bottom: var(--spacer-small);
	}
	#footer-brand-terms {
		font-size: 18px;
		line-height: 1.111;
		font-weight: 100;
		margin-bottom: 0;
	}
/*#endregion ==> Footer */