





/*#region ==> Footer */
footer {
	background-color: var(--color-dark);
	text-align: center;
	padding: var(--spacer);
}
	#wrapper-footer-phone-number {
		margin-top: 0;
		margin-bottom: var(--spacer-small);
		font-size: 24px;
		font-style: normal;
	}
	#footer-copyright {
		font-size: 24px;
		margin-bottom: var(--spacer-small);
	}
	#footer-brand-terms {
		font-size: 18px;
		line-height: 1.111;
		font-weight: 100;
		margin-bottom: 0;
	}
/*#endregion ==> Footer */